---
import Layout from '../layouts/Layout.astro';

---


<Layout title="Euro 2024 Results - with Sweepstake info" herotext="Euro 2024">
	<main>
        <div class="container mx-auto py-6">
            <p class="text-center text-slate-100 my-5">Here's a quick website I put together to show the Euro 2024 games, showing who got which team in the Sweepstake!</p>
            <p class="text-center text-slate-100 my-5">Choose one of the buttons above to take you to fixtures or tables - there are only the Group stage fixtures on here at the moment.</p>
            <p class="text-center text-slate-100 my-5">All my own calculations for the Group Tables so not sure of the nuances of how table position is achieved in the more complex situations :)</p>
        </div>

	</main>
</Layout>

<style>
	
</style>
