---
interface Props {
	title: string;
	herotext: string;
}

const { title } = Astro.props;
const { herotext } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Euro 2024 matches and tables showsing who drew which team in the sweepstake." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="container mx-auto">
		<h1 class="text-2xl font-bold text-center text-slate-50 py-3"><a href="/">Euro 2024 Sweepstake</a></h1>
		<div class="mx-auto my-3 flex justify-center">	
			<button class="btn btn-active btn-neutral mx-3 text-slate-50 border-slate-50"><a href="/fixtures">Fixtures</a></button>
			<button class="btn btn-active btn-neutral mx-3 text-slate-50 border-slate-50"><a href="/tables">Tables</a></button>
		</div>
		<h2 class="text-lg font-semibold text-center text-slate-50 py-3">{herotext}</h2>
		<slot />
	</body>
</html>
<style is:global>
	/* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	} */
</style>
